!/broker-service/brokerApp
!/front-end/frontApp
!/mail-service/mailerApp
!/listener-service/listenerApp
!/project/db-data/mongo/index-1-4643581095213003754.wt

!/project/db-data/mongo/index-10-4643581095213003754.wt

!/project/db-data/mongo/WiredTigerLAS.wt

!/project/db-data/mongo/_mdb_catalog.wt

!/project/db-data/mongo/sizeStorer.wt

!/project/db-data/mongo/index-3-4643581095213003754.wt

!/project/db-data/mongo/index-6-4643581095213003754.wt

!/project/db-data/mongo/WiredTiger

!/project/db-data/mongo/WiredTiger.wt

!/project/db-data/mongo/journal/

!/project/db-data/mongo/collection-4-4643581095213003754.wt

!/project/db-data/mongo/WiredTiger.turtle

!/project/db-data/mongo/storage.bson

!/project/db-data/mongo/diagnostic.data/

!/project/db-data/mongo/index-5-4643581095213003754.wt

!/project/db-data/mongo/collection-8-4643581095213003754.wt

!/project/db-data/mongo/collection-0-2996341086421991884.wt

!/project/db-data/mongo/collection-2-4643581095213003754.wt

!/project/db-data/mongo/index-9-4643581095213003754.wt

!/project/db-data/mongo/collection-0-4643581095213003754.wt

!/project/db-data/mongo/index-1-2996341086421991884.wt

!/project/db-data/mongo/WiredTiger.lock
!/project/db-data/postgres/pg_logical/

!/project/db-data/postgres/pg_twophase/

!/project/db-data/postgres/pg_stat_tmp/

!/project/db-data/postgres/pg_dynshmem/

!/project/db-data/postgres/postmaster.opts

!/project/db-data/postgres/pg_wal/

!/project/db-data/postgres/pg_stat/

!/project/db-data/postgres/pg_notify/

!/project/db-data/postgres/postgresql.auto.conf

!/project/db-data/postgres/pg_snapshots/

!/project/db-data/postgres/pg_ident.conf

!/project/db-data/postgres/global/

!/project/db-data/postgres/pg_xact/

!/project/db-data/postgres/pg_commit_ts/

!/project/db-data/postgres/PG_VERSION

!/project/db-data/postgres/pg_serial/

!/project/db-data/postgres/pg_replslot/

!/project/db-data/postgres/pg_multixact/

!/project/db-data/postgres/pg_tblspc/

!/project/db-data/postgres/base/

!/project/db-data/postgres/pg_hba.conf

!/project/db-data/postgres/pg_subtrans/
